# OpenRemote: Energy Transition

## Intro

### Technologies used

## Imports

In [40]:
import warnings
import itertools
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [41]:
PATH = ".\\data\\"

In [42]:
!dir {PATH}

 Volume in drive C is System
 Volume Serial Number is E6B3-1187

 Directory of C:\Users\simon\OneDrive - PXL\School\2TINQ\_Research Project\OpenRemote-Energy-Challenge\machine-learning\data

30/04/2021  11:35    <DIR>          .
30/04/2021  11:35    <DIR>          ..
28/03/2021  20:31            13.803 GetWeatherSiteEstimatedActuals.csv
12/04/2021  10:27            20.994 GetWeatherSiteEstimatedActuals2.csv
23/03/2021  20:55           340.288 SolarData.csv
               3 File(s)        375.085 bytes
               2 Dir(s)  576.781.385.728 bytes free

## Handy functions

In [43]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

### Machine learning part

In [44]:
solar_data = pd.read_csv(f"{PATH}SolarData.csv", parse_dates=["timestamp"])
testdata = sm.datasets.co2.load_pandas()

              co2
1958-03-29  316.1
1958-04-05  317.3
1958-04-12  317.6
1958-04-19  317.5
1958-04-26  316.4
...           ...
2001-12-01  370.3
2001-12-08  370.8
2001-12-15  371.2
2001-12-22  371.3
2001-12-29  371.5

[2284 rows x 1 columns]

In [46]:
y

NameError: name 'y' is not defined